.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body {
  /* background-color: rgb(231, 231, 233); */
  background-color: rgba(162, 194, 226, 0.479);
  display: flex;
  flex-direction: column;
  align-items: center;
}
